#big{
	position: relative;
	float: left;
	background: #FFFFFF;
/* Gray 6 */
width: 17.95vw;
height: 30.6vw;
border: 1px solid #F2F2F2;
box-sizing: border-box;
/* overall shadow for blue bg */
margin-right: 2.12vw;
margin-top: 2.6vw;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(83, 83, 83, 0.1);
 /* Add the blur effect */

}

#img_card{
	width: 17.95vw;
height: 18.93vw;
background: #C4C4C4;
}

#nm{

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 1.17vw;
line-height: 2.08vw;
/* or 178% */

display: flex;
align-items: center;

/* headings */

color: #212121;
margin-left: 1.17vw;
margin-top: 1.17vw;
}

#desig{
position: relative;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 0.9vw;
line-height: 1.2vw;
/* identical to box height */

display: flex;
align-items: center;

/* text body */

color: #A4A7AC;

margin-top: 0.439vw;
margin-left: 1.232vw;
}

#email_id{



/* 14 px */
position: absolute;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 0.9vw;
line-height: 1.3vw;
/* or 143% */


/* headings */

color: #212121;
margin-left: 3.44vw;
top: 25.8vw;
}

#mob_num{
position: absolute;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 0.91vw;
line-height: 1.232;
/* or 143% */


/* headings */

color: #212121;
margin-left: 3.44vw;
top: 28.07vw;
}


#crd_msg{
	position: absolute;
top:25.8vw;
left:1.17vw;
width: 1.68vw;
height: 1.68vw;
}

#crd_mob{
	position: absolute;
top:28.08vw;
left:1.17vw;
width: 1.68vw;
height: 1.68vw;
}